@media screen and (max-width: 1017px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.wrap,
    .design-box #nav,
    .design-box #bottom,
    .design-box #footer{
		max-width: 94%;
	}

    #nav {
        font-size: 1.333em;
    }
    ul#main-menu-links li a, #nav ul.sf-menu li a {
        padding: 0 14px;
    }
    #slider{
        width: 100%;
    }
	#content,
    #content-left,
    .withheadlines #slider{
		width: 64%;
	}
    #slider .mdslideshow .views-row {
        right: 0;
    }
    #slider .cycle-pager {
        top: auto;
        bottom: -30px;
    }
    #slider .view {
        padding-bottom: 35px;
    }
    .cycle-pager span {
        width: 13px;
        height: 13px;
    }
    #headlines .holder a {
        width: 10px;
        height: 10px;
    }

    #hlitemContainer .views-field, .view-latest-articles .views-field {
        padding-left: 30%;
    }
    #hlitemContainer .views-field-field-image, .view-latest-articles .views-field-field-image {
        width: 25%;
    }

    .rows-first .views-field {
        padding-left: 45%;
    }
    .rows-first .views-field-field-image {
        width: 40%;
        padding: 0;
    }
    #editorspick .views-field-title,
    .view-photo-gallery .views-field {
        padding-right: 10px;
    }
	
	#sidebar,
    #headlines{
		width: 34%;
	}
	
	img {
		max-width: 100%;
		height: auto
	}

	.tab-group .tab-head .item-label {padding: 4px 7px}
	.contact-form ul li{
		margin-left: 3%
	}
	.tabs ul.primary li a, 
	ul.quicktabs-tabs li a {
		padding: 0 7px 3px;
	}
	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2,
	.col4-3,
	.col3-1,
	.col3-2,
	.col2-1
	{
		margin-left: 2%;
	}
	.col4-1 {
		max-width: 23%;
	}
	.col4-2, .col2-1 {
		max-width: 48%;
	}
	.col4-3 {
		max-width: 72%;
	}
	.col3-1 {
		max-width: 31%;
	}
	.col3-2 {
		max-width: 62%;
	}
}

@media screen and (max-width: 760px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
    #nav {
        font-size: 1.250em;
    }
    ul#main-menu-links li a, #nav ul.sf-menu li a {
        padding: 0 10px;
    }
    #hlitemContainer .views-field, .view-latest-articles .views-field {
        padding-left: 75px;
    }
    #hlitemContainer .views-field-field-image, .view-latest-articles .views-field-field-image {
        width: 60px;
    }

	#slider,
    .withheadlines #slider,
    #headlines,
	#content,
    #content-left {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/* sidebar */
	#sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		padding-top: 20px;
	}

    #sidebar .view-hot-videos .views-row-first {
        border: none;
        width: 310px;
    }

	#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
		white-space: normal
	}
}

@media screen and (max-width: 600px) {
	
	.js #main-menu-links,
	.js #superfish-1 { 
		display: none; 
	}
    .js .selectnav {
		display: block; 
		clear: both;
		margin: 0 0 0 10px
	}

	.rows-first,
	.rows-others {
        width: 100%;
        float: none;
    }
    #editorspick .views-field-field-category {
        font-size: 0.750em;
        padding-right:  0;
    }
	
	.rows-first {
		border: none
	}
	
	.rows-first .views-field-field-image {
		width: 30%;
		padding: 0 !important;
	}
	.rows-first .views-field {
		padding-left: 35%;
	}
	.rows-others {
		clear: both
	}

	#forum table tr th, #forum table tr td, #forum .forum-table th {
		padding: 8px 5px 9px
	}
	td.forum {
		width: 40%
	}
		td.forum .description {
			display: none
		}
	td.topics,
	td.posts {
		width: 15%
	}
	td.last-reply {
		width: 30%
	}
	
	#sidebar .view-hot-videos .views-row-first {
		width: 100%
	}
	
	.photo-3col .node-photo-teaser:nth-child(2n), .photo-4col .node-photo-teaser:nth-child(3n),
    .video-3col .node-video-teaser:nth-child(2n), .video-4col .node-video-teaser:nth-child(3n){
		margin: 0
	}
    #bottom .col4b1 {
        width: 100%;
    }
    #bottom .col4b2 {
        width: 48%;
        margin-right: 3.9%;
    }
    #bottom .col4b2.last {
        margin-right:  0;
    }
    input.form-text {
        width: 98%;
    }
}

@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
	.pagewrap {
		max-width: 98%;
	}
	/* FOOTER */
	#bottom .col3b,
	#bottom .col3c {
		float: none;
		width: 100%;
		margin: 0;
	}
	
	.blog-image {
		float: none
	}
	.blog-info {
		padding: 0
	}
	
	.camera_pag {
		display: none;
	}
	
}

@media screen and (min-width: 481px) {

	

}