.page-type-article {
	.field-name-body {
		.field-item {
			font-size: 1.567em;
			line-height: 1.65749;
		}
		a {
			color: @tredmaroon !important;
		}
	}
  article {
    .comment-wrapper {
      img {
      }
      header {
        .submitted.media-object.pull-left {
          font-size: 0.7em;
          font-size: 0.7rem;
          width: 100%;
          font-size: 0.8em;
          span {
            font-size: 0.7em;
            font-size: 0.7rem;
          }
          img {
            width: inherit!important;
            height: auto;
          }
        }
      }
      .indented {
        margin-left: 1%;
        .indented {
          margin-left: 2%;
          .indented {
            margin-left: 3%;
            .indented {
              margin-left: 4%;
            }
          }
        }
      }
      .ajax-comment-wrapper {
        article.comment {
          padding: 1%;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #eeeeee;
          header {
            width: 16%;
            margin: 0 2% 2% 0;
            float: left;
          }
        }
      }
      .ajax-comment-wrapper:last-child {
        article.comment:last-child {
          border-bottom: none;
          padding-bottom: none;
        }
      }
    }
    .comment-signup {
      position: relative;
      padding: 19px;
      border: 3px dashed #000000;
      .comment-anonymous-image {
        width: 15%;
        margin: 0 4% 2% 0;
        float: left;
        img {
          width: 100%;
          height: auto;
        }
      }
      .title-wrapper {
        h3 {
        }
        a {
          position: absolute;
          right: 19px;
          top: 19px;
        }
      }
      form {
        clear: both;
        .form-item-username {
          width: 40%;
          float: left;
          margin-right: 2%;
          input {
            width: 100%;
          }
        }
        .form-item-email {
          width: 40%;
          float: left;
        }
        .text-format-wrapper {
          clear: both;
          width: 82%;
        }
      }
    }
    header {
      margin-bottom: 10px;
      .published-date {
        display: inline;
        margin-left: 5px;
        margin-bottom: 10px;
      }
      .author {
        display: inline;
        padding-right: 5px;
        border-right: 1px dotted #000;
        margin-bottom: 10px;
      }
    }
  }
}
.submitted {
	.profile2-image {
	  width: 100px;
	  height: 120px;
	  float: left;
	  margin: 0 1.2em 1.2em 0;
	}
	.profile2-words {
	  .social-icons {
		  margin-top: -15px;
	    ul {
	      list-style: none;
	      margin: 0;
	      padding: 0;
	      li {
	        display: inline;
	        float: left;
	        a {
	          font-size: 0px;
	        }
	        a.social:hover:before,
	        a.social:hover {
	          color: @tredmaroon;
	        }
	      }
	    }
	  }
	}
}
ul.sharebar {
	list-style: none;
	margin: 1em 0;
	padding: 0;
	li {
		list-style: none;
		display: inline-block;
		width: 49%;
		margin-right: 1%;
		a {
			display: block;
			cursor: pointer;
			padding: 3px;
			height: 40px;
			width: 100%;
			line-height: 27px;
			border-radius: 3px;
			span.social:before {
        color: #ffffff;
        display: inline-block;
        font: 24px/1em 'Glyphicons Social Regular';
        left: 3px;
				top: -5px;
        margin: 0 5px 0 0;
				padding: 0;
        position: absolute;
        text-transform: none;
			}
			span.bigshare {
				text-decoration: none;
				font-weight: bold;
		    color: #ffffff;
			}
		}
		a.fb-share {
			background-color: #3C5A98;
		}
		a.twitter-popup {
			background-color: #00D1FE;
		}
		a:hover {
			text-decoration: none;
		}
		a.fb-share:hover {
			background-color: #45619D;
		}
		a.twitter-popup:hover {
			background-color: #00AFEF;
		}
    a:visited {
			text-decoration: none;
		}
	}
	li:last-child {
		margin-right: 0;
	}
	@media(max-width: 480px) {
		li {
			display: block;
			clear: both;
			width: 98%;
			margin: 5px 0;
		}
	}
}
