a:hover,
a:active,
a:focus { color: #1BA1E2;}
.highlight {
    background-color: #1BA1E2;
}
/* 4.	Form style
--------------------------------------------------------------------------*/
/* Buttons */
input.form-submit,
a.button,
.link-wrapper a {
    background-image:-moz-linear-gradient(100% 0% -90deg,rgb(43,169,230) 0%,rgb(27,161,226) 99%);
    background-image:-webkit-gradient(linear,100% 0%,100% 115%,color-stop(0, rgb(43,169,230)),color-stop(0.99, rgb(27,161,226)));
    background-image:-webkit-linear-gradient(-90deg,rgb(43,169,230) 0%,rgb(27,161,226) 99%);
    background-image:-o-linear-gradient(-90deg,rgb(43,169,230) 0%,rgb(27,161,226) 99%);
    background-image:-ms-linear-gradient(-90deg,rgb(43,169,230) 0%,rgb(27,161,226) 99%);
    background-image:linear-gradient(-90deg,rgb(43,169,230) 0%,rgb(27,161,226) 99%);
    -moz-box-shadow:0px 1px 0px rgb(24,147,205) ,0px 2px 2px rgba(0,0,0,0.21);
    -webkit-box-shadow:0px 1px 0px rgb(24,147,205) ,0px 2px 2px rgba(0,0,0,0.21);
    box-shadow:0px 1px 0px rgb(24,147,205) ,0px 2px 2px rgba(0,0,0,0.21);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2ba9e6,endColorstr=#ff1ba1e2,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff1893cd,Positive=true)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#36000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2ba9e6,endColorstr=#ff1ba1e2,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff1893cd,Positive=true)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#36000000,Positive=true);
}
input.form-submit:hover,
a.button:hover,
.link-wrapper a:hover {
    background-image:-moz-linear-gradient(100% 0% -90deg,rgb(27,161,226) 0%,rgb(24,147,205) 99%);
    background-image:-webkit-gradient(linear,100% 0%,100% 115%,color-stop(0, rgb(27,161,226)),color-stop(0.99, rgb(24,147,205)));
    background-image:-webkit-linear-gradient(-90deg,rgb(27,161,226) 0%,rgb(24,147,205) 99%);
    background-image:-o-linear-gradient(-90deg,rgb(27,161,226) 0%,rgb(24,147,205) 99%);
    background-image:-ms-linear-gradient(-90deg,rgb(27,161,226) 0%,rgb(24,147,205) 99%);
    background-image:linear-gradient(-90deg,rgb(27,161,226) 0%,rgb(24,147,205) 99%);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1ba1e2,endColorstr=#ff1893cd,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff1893cd,Positive=true)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#36000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1ba1e2,endColorstr=#ff1893cd,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff1893cd,Positive=true)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#36000000,Positive=true);
}
input.form-submit:active,
a.button:active,
.link-wrapper a:active {
    background-image:-moz-linear-gradient(100% 0% -90deg,rgb(27,161,226) 0%,rgb(43,169,230) 99%);
    background-image:-webkit-gradient(linear,100% 0%,100% 115%,color-stop(0, rgb(27,161,226)),color-stop(0.99, rgb(43,169,230)));
    background-image:-webkit-linear-gradient(-90deg,rgb(27,161,226) 0%,rgb(43,169,230) 99%);
    background-image:-o-linear-gradient(-90deg,rgb(27,161,226) 0%,rgb(43,169,230) 99%);
    background-image:-ms-linear-gradient(-90deg,rgb(27,161,226) 0%,rgb(43,169,230) 99%);
    background-image:linear-gradient(-90deg,rgb(27,161,226) 0%,rgb(43,169,230) 99%);
    -moz-box-shadow:0px 1px 0px rgb(24,147,205);
    -webkit-box-shadow:0px 1px 0px rgb(24,147,205);
    box-shadow:0px 1px 0px rgb(24,147,205);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1ba1e2,endColorstr=#ff2ba9e6,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff1893cd,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1ba1e2,endColorstr=#ff2ba9e6,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff1893cd,Positive=true);
}
fieldset legend a {
  color: #1BA1E2;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #333;
}
input.form-text:focus,
textarea.form-textarea:focus {
    border-color: #32ACE7;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(27, 161, 226, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(27, 161, 226, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(27, 161, 226, 0.6);
}
#footer a {
	color: #BABABA
}
#footer a:hover {
	color: #FFF;
}

/* Main menu */
ul#main-menu-links li:hover a,
ul#main-menu-links li.active a {
	background: #1BA1E2;
}
#nav ul.sf-menu li > a:hover,
#nav ul.sf-menu li.sfHover > a,
#nav ul.sf-menu li a.active {
	background: #fff;
	color: #1BA1E2;
}
#nav ul.sf-menu li li a:hover,
#nav ul.sf-menu li li.active-trail > a {
	color: #1BA1E2;
}
ul.menu li a.active {
	color: #1BA1E2
}

#slider .views-field-view-node a {
	color: #1BA1E2;
}
#slider .views-field-view-node a:hover {
	color: #111;
}
#headlines .views-field-title a:hover,
#editorspick .views-field-title a:hover,
.view-latest-articles .views-field-title a:hover {
	color: #1BA1E2;
}
#editorspick .views-field-field-category a {
	color: #1BA1E2;
}
#editorspick .views-field-field-category a:hover {
	color: #111;
}
a.cycle-prev,
a.cycle-next {
    background-image: url("../../images/colors/blue/editorspick-btn.png");
}
.blockhover h3.block-title {
    color: #1BA1E2;
}
.view-hot-videos .views-field-title a:hover {
    color: #1BA1E2;
}
.ui-accordion .ui-accordion-header.ui-state-active {
	background: #1BA1E2;
}
.item-list ul.quicktabs-tabs li a:hover,
.item-list ul.quicktabs-tabs li.active a {
    color: #1BA1E2;
}
.cycle-pager span.cycle-pager-active,
.cycle-pager span:hover,
#headlines .holder a:hover,
#headlines .holder a.jp-current { background: #1BA1E2;}

.node-content a { color: #53A8D0;}
.node-content a:hover,
.node-content a:active,
.node-content a:focus { color: #333;}

.comment .username {
    color:  #1BA1E2;
}
.comment .username:hover {
    color: #111111;
}
.comment .date-time a:hover {
    color:  #1BA1E2;
}
.comment .new {
	color: #1BA1E2;
}

.pager li.pager-current {
  background-color: #1BA1E2;
	border: 1px solid #1BA1E2;
}