.block-aggregator {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
      border-bottom: 1px inset #cccccc;
    }
  }
}
.block-aggregator {
  .more-link {
    margin-bottom: 1em;
  }
  #jobnetwork-buttons {
    a {
      margin: 0 10px 0 0;
    }
  }
}
#lunch-block {
	margin-top: 10px;
	margin-bottom: -15px;
}
.block-title {
  a {
    color: white !important;
  }
}
#quicktabs-news.quicktabs-wrapper {
  .quicktabs-tabs {
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    .ajax-progress {
      display: none;
    }
    .quicktabs-loading {
      .quicktabs_main {
        height: 30px;
        margin-top: 20px;
        background: #cc0000;
      }
    }
    li {
      border: none;
      margin: 0;
      padding: 0;
      text-align: center;
      display: inline-block;
      a {
        display: inline-block;
        width: 100%;
        font-weight: normal;
        background: none!important;
        color: #a0a0a0!important;
        padding: 0 0.5em;
        margin: 0;
        border: none;
        border-color: unset;
        border-right: 1px solid #5a5a5a;
        text-shadow: none;
      }
      a:hover {
        color: #333333!important;
        background-color: #4a4a4a;
      }
    }
    li:last-child {
      a {
        border: none;
      }
    }
    li.active {
      a {
        color: #333333!important;
        text-shadow: 1px 1px 0 #efefef;
      }
    }
  }
}
.quicktabs-tabs {
  .ajax-progress {
    display: none;
  }
}
.quicktabs-loading {
  .quicktabs_main {
    height: 40px;
    margin-top: 20px;
    background: url(../images/ajax_loader.gif) 50% 0 no-repeat;
  }
}
#block-dfp-salive_bst_weather {
  .blcontent {
    padding: 10px 0;
  }
}
#block-dfp-salive_blw_hot_rants {
  .blcontent {
    padding-top: 15px;
  }
}
#block-block-11,
#block-block-10 {
  .blcontent {
    padding: 15px 15px 0 15px;
  }
}
#sidebar {
  #block-block-5 {
    .blcontent {
      padding: 15px;
    }
  }
}
// Top section
@media (max-width: 1199px) {
  #spotlight {
    #headlines_ads {
      .block {
        margin-bottom: 8px;
        #forecast_embed {
          height: 165px;
        }
      }
      #block-block-12 {
        .blcontent {
          padding: 0;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  #spotlight {
    #headlines_ads {
      .block {
        margin-bottom: 1em;
        #forecast_embed {
          height: 220px;
        }
      }
    }
  }
}
// Take out block padding for desktop
.header-ads {
  padding: 0
}
.container .col-md-12 {
  padding: 0;
}

@media (max-width: 500px) {
  //Add Padding back for mobile
  .header-ads {
    padding: 0 15px;
  }
  .container .col-md-12 {
    padding: 0 15px;
  }
}



