.ads {
	a {
		width: 100% !important;
		height: auto !important;
		img{
			width: 100% !important;
			height: auto !important;
			text-align: center;
		}
	}
	.adsbygoogle {
		text-align: center;
	}
}
.block-livebreaking .livebreaking-item .col-md-3 a {
  height:auto !important;
  width: 100% !important;
}