.dfp-tag-wrapper,
.ads {
  text-align: center;
  color: darkgray;
  position: relative;
  a {
    width: 100% !important;
    height: auto !important;
    img {
      width: 100% !important;
      height: auto !important;
      text-align: center;
      margin-bottom: -5px;
    }
  }
  .adsbygoogle {
    text-align: center;
  }
}

.dfp-tag-wrapper:after,
.ads:after {
  font-size: xx-small;
  display: block;
  line-height: 15px;
  text-transform: uppercase;
}

.block-livebreaking .livebreaking-item .col-md-3 a {
  height: auto !important;
  width: 100% !important;
}

#block-block-36 .blcontent {
  padding: 15px 0;
}

#editorspick {
  .region-editorspick {
    .block-dfp {
      .blcontent {
        padding: 0;
        iframe {
          border: none;
        }
      }
    }
  }
}

#sidebar {
  .block-dfp {
    .blcontent {
      padding: 15px;
    }
  }
  #block-block-5 {
    .blcontent {
      padding: 15px;
    }
  }
}
#block-views-editorspick-block {
  .blcontent {
    padding: 0 15px;
  }
}
//#element_id > .class_name:first-child
.field-name-body .block.block-dfp .blcontent > .dfp-tag-wrapper:first-child::after,
#dfp-ad-clone_of_clone_of_clone_of_clone_of_salive_b_rail_1-wrapper::after,
#dfp-ad-clone_of_clone_of_clone_of_salive_b_rail_1-wrapper::after,
#dfp-ad-clone_of_clone_of_salive_b_rail_1-wrapper::after,
#dfp-ad-salive_b_rail_1-wrapper::after,
#dfp-ad-clone_of_salive_b_rail_1-wrapper::after,
#dfp-ad-salive_bw_bottom-wrapper::after,
#dfp-ad-clone_of_clone_of_clone_of_clone_of_clone_of_clone_of_clone_of_salive_blw_hot_rants-wrapper::after,
#dfp-ad-clone_of_clone_of_clone_of_clone_of_clone_of_clone_of_salive_blw_hot_rants-wrapper::after,
#dfp-ad-clone_of_clone_of_clone_of_clone_of_clone_of_salive_blw_hot_rants-wrapper::after,
#dfp-ad-clone_of_clone_of_clone_of_clone_of_salive_blw_hot_rants-wrapper::after,
#dfp-ad-clone_of_clone_of_clone_of_salive_blw_hot_rants-wrapper::after,
#dfp-ad-clone_of_clone_of_salive_blw_hot_rants-wrapper::after,
#dfp-ad-clone_of_salive_blw_hot_rants-wrapper::after,
#dfp-ad-300x600_rail-wrapper::after,
#dfp-ad-salive_blw_hot_rants-wrapper::after,
#dfp-ad-salive_bst_weather-wrapper::after,
#dfp-ad-salive_blw_most_recent_-wrapper::after,
#dfp-ad-salive_bw_top-wrapper::after {
  content: 'Advertisement';
  color: #cccccc;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-variant: all-small-caps;
}