.node{
	.submitted {
		.profile2-image {
			float: left;
			margin: 0 1.2em 0 0;
			.profile {
				margin: 0px;
			}
		}
		.item-list {
			margin-bottom:35px;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: block;
					float: left;
					font-size:0px;
					margin-bottom:15px;
	      				a.social:hover:before,
	      				a.social:hover {
	        				color: @tredmaroon;
	      				}
	    			}
	  		}
		}
	}
}
.field.field-name-body {
  ul {
	  list-style: disc outside none;
		margin-left: 1.5em;
		margin-bottom: 1.2em;
	  li {
		  
		}
	}
}
.obit-dates {
	color: darkgray;
}

ul.social-icons {
  li {
    margin: 3px;
    padding: 0;
    width: 25px;
    height: 25px;
    display: inline;
    a.social {
      font-size:0px;
      color: #222222;
      margin: 0;
      padding: 0;
    }
    a.social:before {
      color: #111111;
      position: relative;
    }
    a.social:hover {
      color: @tredmaroon;
    }
    a.social:hover:before {
      color: @tredmaroon;
    }
  }
}
.link-wrapper {
	clear: both;
}

.videoWrapper {
	position: relative;
	padding-bottom: 59.25% !important;
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.imageWrapper {
	position: relative;
	padding-bottom: 75% !important;
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.field-label {
	font-family: @font-family-sans-serif;
}
.filter-wrapper {
	display: none;
}
.breadcrumb {
	white-space: nowrap;
	overflow: hidden;
}
.breadcrumb:hover {
	white-space: normal;
}
#edit-mailchimp-lists {
	display: none;
}
.form-item-body-und-0-summary,
.form-item-field-date-und-0-show-repeat-settings {
	display: none;
}
.free-event,
.paid-event {
  background-color: #efefef;
  border-radius: 4px;
  padding: 0px !important;
  .upper {
    background-color: @tred;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    h3 {
	  text-align: center;
    }
  }
  .lower {
	padding: 10px;
  }
  border: 1px solid #eeeeee;
}
.media-body img,
.media-element.file-preview,
.imgbody {
  width: 100%;
	height: auto;
}
.imgbody.left {
	float: left;
	width: 33%;
	height: auto;
  margin: 0 20px 20px 0;
  .thumbnail();
}
.imgbody.right {
	float: right;
	width: 33%;
	height: auto;
  margin: 0 0 20px 20px;
  .thumbnail();
}
@media (max-width: @screen-sm-max) {
	.imgbody.left {
		float: none;
		width: 100%;
		height: auto;
    margin: 0 0 20px 0;
	}
	.imgbody.right {
		float: none;
		width: 100%;
		height: auto;
    margin: 0 0 20px 0;
	}
}
.view-openhouse {
  p {
	  margin: 0;
		a {
			color: #c33000;
		}
	}

	.views-row-odd, .views-row-even {
	  margin-bottom: 0.5em;
	}
}
.media-youtube-video {
	margin-bottom: 1em;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.not-front {
	#main-content {
		.content-inner {
			padding: 0 10px 10px;
		}
	}
}
.not-front {
	#main-content {
		.col-md-8 {
			.content-inner {
				padding: 0;
			}
		}
	}
}

.panel-heading {
	padding: 5px 0 0;
}
#edit-pre-actions {
  display: none;
}
.smashtop {
	.blcontent {
		background-color: transparent;
	}
}
@media (min-width: @screen-phone) { //480
	.vdb_player {
		max-width: 300px;
		margin: 0 auto;
	}
}
//768 @screen-tablet
@media (min-width: @screen-tablet) { //480
  .vdb_player {
    max-width: 640px;
    margin: 0 auto;
  }
}
.page-type-vehicle {
	.field {
		margin-bottom: 1.5em;
	}
	.field-name-field-vehicle-image {
		.field-items {
			.field-item {
				float: left;
				width: 33.3333%;
				height: auto;
				a {
					display: inline-block;
					margin: 0;
					img {
						width: 100%;
						height: auto;
						margin: 0 0 -7px 0;
						padding: 0;
					}
				}
			}
			.field-item:first-child {
				width: 66.667%;
				height: auto;
			}
		}
	}
	.field-name-field-description {
		clear: both;
	}
}
.view-display-id-page {
	.view-content {
		.views-row {
			position: relative;
			overflow: hidden;
			min-height: 300px;
			margin-bottom: 1em;
			h3.car-title {
				position: absolute;
				top: 3px;
				left: 3px;
				color: #ffffff;
				width: 100%;
				text-align: center;
				text-shadow: 1px 1px 2px #000000;
				z-index: 2;
			}
			.vehicle--motherhood {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 20%;
				z-index: 2;
				.field-name-field-price {
					position: absolute;
					left: 25px;
					bottom: 10px;
					font-size: 18px;
					color: #ffffff;
					text-shadow: 1px 1px 2px #000000;
				}
				.btn {
					position: absolute;
					right: 10px;
					bottom: 10px;
				}
			}
			.field-name-field-vehicle-image {
				width: 100%;
				.field-items {
					.field-item {
						width: 100%;
						img {
							display: block;
							height: auto;
							margin: 0;
							z-index: -1;
						}
					}
				}
			}

		}
	}
}
@media (max-width: @screen-sm-max) {
	.view-display-id-page {
		.view-content {
			.views-row {
				.vehicle--motherhood {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 20%;
					z-index: 2;
					.field-name-field-price {
						position: absolute;
						left: 25px;
						bottom: 10px;
						font-size: 18px;
						color: #ffffff;
						text-shadow: 1px 1px 2px #000000;
					}
					.btn {
						position: absolute;
						right: 30px;
						bottom: 10px;
					}
				}
				.field-name-field-vehicle-image {
					width: 100%;
					.field-items {
						.field-item {
							width: 100%;
							img {
								display: block;
								width: 100%;
								height: auto;
								margin: 0;
								z-index: -1;
							}
						}
					}
				}
			}
		}
	}
}