.node{
	.submitted {
		.profile2-image {
			float: left;
			margin: 0 1.2em 0 0;
			.profile {
				margin: 0px;
			}
		}
		.item-list {
			margin-bottom:35px;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: block;
					float: left;
					font-size:0px;
					margin-bottom:15px;
	      				a.social:hover:before,
	      				a.social:hover {
	        				color: @tredmaroon;
	      				}
	    			}
	  		}
		}
	}
}
.field.field-name-body {
  ul {
	  list-style: disc outside none;
		margin-left: 1.5em;
		margin-bottom: 1.2em;
	  li {
		  
		}
	}
}
.obit-dates {
	color: darkgray;
}
.content-inner {
	padding: 15px 0px 15px 0px;
}
.blcontent {
	border-bottom: 3px solid #e6e6e6;
}
ul.social-icons {
  li {
    margin: 3px;
    padding: 0;
    width: 25px;
    height: 25px;
    display: inline;
    a.social {
      font-size:0px;
      color: #222222;
      margin: 0;
      padding: 0;
    }
    a.social:before {
      color: #111111;
      position: relative;
    }
    a.social:hover {
      color: @tredmaroon;
    }
    a.social:hover:before {
      color: @tredmaroon;
    }
  }
}
.link-wrapper {
	clear: both;
}

.videoWrapper {
	position: relative;
	padding-bottom: 59.25% !important;
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.imageWrapper {
	position: relative;
	padding-bottom: 75% !important;
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.field-label {
	font-family: 'gotham-black-headers';
}
.filter-wrapper {
	display: none;
}
.breadcrumb {
	white-space: nowrap;
	overflow: hidden;
}
.breadcrumb:hover {
	white-space: normal;
}
#edit-mailchimp-lists {
	display: none;
}
.form-item-body-und-0-summary,
.form-item-field-date-und-0-show-repeat-settings {
	display: none;
}
.free-event,
.paid-event {
  background-color: #efefef;
  border-radius: 4px;
  padding: 0px !important;
  .upper {
    background-color: @tred;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    h3 {
	  text-align: center;
    }
  }
  .lower {
	padding: 10px;
  }
  border: 1px solid #eeeeee;
}
.media-body img,
.media-element.file-preview,
.imgbody {
  width: 100%;
	height: auto;
}