#header {
  margin-top: 100px;
}

#logo {
  margin: 0;
  text-align: center;
  h1#site-title {
    display: none;
  }
  a {
    display: block;
    img {
      max-height: 30px;
	    height: auto;
      vertical-align: bottom;
      margin-bottom: 3px;
    }

  }
  .slogan {
	  text-align: center;
	  font-size: x-small;
    display: none;
  }
}

#nav {
  font-family:GnuolaneFreeRegular, Georgia, "Times New Roman", Times, serif;
  background: #000000;
  border: none;
  font-size: 1.500em;
  position: fixed;
  height: 32px;
  top: 0;
  width: 100%;
  z-index: 113;
  -webkit-box-shadow: 0 5px 5px -5px #000000;
  -moz-box-shadow: 0 5px 5px -5px #000000;
  box-shadow:  0 5px 5px -5px #000000;
  line-height: 1.6;
  ul.sf-menu {
    height: 35px;
    line-height: 38px;
    li > a:hover, li.sfHover > a, li a.active {
      color:#cc3333;
    }
    li {
      li a:hover, li.active-trail > a {
        background:url(../images/suvnav.png) no-repeat right center;
        color:#cc3333;
      }
      li.last a:hover, li.active-trail.last > a {
        background:none;
      }
      li {
        font-family:Arial, Helvetica, sans-serif;
        a {
          background:url(../images/suvnav.png) no-repeat right center;
          border:none;
          color:#666666;
          font-size:11px;
          height:35px;
          line-height:35px;
        }
      }
      a {
        color: #ffffff;
        display: block;
        padding: 0 10px;
        text-transform:uppercase;
        font-family: 'gotham-black-headers', sans-serif;
				font-weight: bold !important;
      }
      li.last a {
        background:none !important;
      }
    }
    li.sf-item-2 ul {
      width: 1475px;
      position: absolute;
      left: -125px;
      background: transparent;
		}
    li.sf-item-3 ul {
      background: transparent;
    }
    li.sf-depth-1 ul {
      background: transparent;
      bottom: 7px;
    }
  }
}
@media (max-width: 1584px) {
  #nav ul.sf-menu li.sf-item-2 ul {
    width: 1145px;
    left: -100px;
  }

}
@media (max-width: 1199px) {
  #nav ul.sf-menu li.sf-item-2 ul {
    width: 1053px;
    left: -140px;
  }
}
@media (max-width: 1062px) {
  #nav ul.sf-menu li.sf-item-2 ul {
    width: 992px;
    left: -92px;
    li {
      a {
       padding: 0 4px;
        background-position: 0px -15px;
      }
    }
  }
}
@media (max-width: 992px) {
  #nav ul.sf-menu li.sf-item-2 ul {
    width: 945px;
    left: -80px;
  }
}
@media screen and (max-width: 991px) {
  #header {
    margin: 0;
    .container {
      margin: 0 auto;
      padding: 0;
      .header-ads {
        margin: 1em 0;
        .block {
          margin: 0px;
          .blcontent {
            .clearfix();
            padding: 10px 0px;
            min-height: 90px;
            .dfp-tag-wrapper {
              padding: 0;
              .clearfix();
              iframe {
                .clearfix();
              }
            }
          }
        }
      }
    }
  }
}
.nav-superfish #nav {
  height:87px;
  position:relative;
}
.subnav {
  height:37px;
  position:absolute;
  left:0;
  right:0;
  display: none;
}
ul#main-menu-links li, #nav ul.menu li {
  float:left;
  margin:0 1px 0 0;
}
ul#main-menu-links {
  li:hover a, li.active a {
    background:#cc3333;
  }
  li a {
    border-top:3px solid #000000;
    color:#ffffff;
    display:block;
    padding:0 18px;
    height:47px;
    height:50px;
    line-height:44px;
    line-height:50px;
    text-transform:uppercase;
    border:none;
  }
}
.sf-navbar {
  li:focus ul, li:hover ul, li:active ul, li.sfHover ul, li li:focus ul, li li:hover ul, li li:active ul, li li.sfHover ul, .active-trail ul {
    top:47px;
    background-color:#ffffff;
    float: none;
    font-family: 'MotionControl' !important;
		font-weight: bold !important;
  }
}
.region-breaking {
	.blcontent {
		padding: 0px;
		border-bottom: 0px;
		.breaking {
			width: 100% !important;
			height: auto !important;
			min-height: 52px !important;
		}
	}
}

.smashtop {
  margin-bottom: 20px;
}
.front .smashtop {
  margin-bottom: 35px;
}
.smashtop .block {
  margin-bottom: 0;
}
.mean-container {
  .mean-bar {
    position: relative;
    float: none;
    height: 34px;
    min-height: 34px;
  }
  .mean-nav {
    margin-top: 0;
    ul li a.mean-expand {
      height: 15px !important;
      margin-top: -7px;
      border: none !important;
      background: none !important;
    }
  }
  a.meanmenu-reveal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 115;
  }
}
.admin-menu #nav {
  margin-top: 29px;
}