.view-events {
  h3 {
    font-size: 1.8em;
    background-color: #f1f1f1;
    padding: 0.3em;
    color:#515151;
    text-shadow: 0px 1px 0px #ffffff;
  }
  li {
    .thumbnail {
      padding-bottom: 3px;
      h4 {
        overflow: hidden;
      }
      .image-wrapper {
        display: block;
        position: relative;
  
        a {
          display: block;
        }
        p.bottom-wrapper {
          text-shadow: 1px 1px 1px #000000;
          display: inline-block;
          position: absolute;
          padding: 0.2em;
          margin: 0;
          bottom: 0;
          font-size: 1.8em;
          font-family: @font-family-sans-serif;
          font-weight: bold;
          color: #f8f8f8;
        }
        p.bottom-wrapper:hover {
          color: #000000;
          text-shadow: 1px 1px 1px #ffffff;
        }
      }
    }
  }
}
#block-views-newsthumbs-block_1,
#block-views-community-block_1 {
  h3 {
    font-size: 1.8em;
    background-color: #f1f1f1;
    padding: 0.3em;
    color:#515151;
    text-shadow: 0px 1px 0px #ffffff;
  }
  .col-md-2,
  .col-md-3 {
	  padding: 4px;
    h4 {
      overflow: hidden;
    }
    .image-wrapper {
      display: block;
      position: relative;

      a {
        display: block;
      }
      p.bottom-wrapper {
        text-shadow: 1px 1px 1px #000000;
        display: inline-block;
        position: absolute;
        padding: 0.2em;
        margin: 0;
        bottom: 0;
        font-size: 1.5em;
        font-family: @font-family-sans-serif;
        font-weight: bold;
        color: #f8f8f8;
        padding-left: 12px;
      }
      p.bottom-wrapper:hover {
        color: #000000;
        text-shadow: 1px 1px 1px #ffffff;
      }
    }
    .date {
    	h6 {
      	margin-bottom: -7px;
				color: @gray-light;
      }
    }
  }
}
