#slider {
  .views-field-title {
  	font-family: 'gotham-black-headers';
    font-size:1.5em;
    margin:0 0 6px;
  }
  img {
	  height: auto !important;
	  width: 100% !important;
  }
  h3.block-title {
    display:none;
  }
  .blcontent {
    padding:0;
  }
  .view {
    padding:0 0 15px;
    .view-content {
      position:relative;
    }
  }
  .views-row {
    background:#ffffff;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
  }
  .views-row-1 {
    z-index:2;
  }
  .views-field {
    padding:0 15px;
  }
  .views-field-field-image {
    padding:0;
  }
  .views-field-view-node a {
    color:#cc3333;
  }
  .views-field-view-node a:hover {
    color:#111111;
  }
  .owl-controls {
	  clear: both;
    position:absolute;
    right: 5px;
		bottom: 0px;
    z-index:111; 
    .owl-dot {
		  width:15px !important;
		  height:15px;
		  display:inline-block;
		  background:#b4b4b4;
		  cursor:pointer;
		  margin-right:4px;
		  text-indent:-500em;
		  span {
			  display: none;
		  }
		}
	}
	.owl-controls > * {
  	cursor:pointer;
	}
	.owl-controls .owl-dot.active, .owl-controls .owl-dot:hover, #headlines .holder a:hover, #headlines .holder a.jp-current {
  	background:#cc3333;
	}
}
#headlines {
  float:right;
  .views-field-created {
    color:#b4b4b4;
    font-size:0.717em;
    text-transform:uppercase;
    margin:6px 0 0;
    margin:0;
  }
  .views-field-title {
	  font-size: 0.817em;
  }
  .view {
    position:relative;
  }
  .holder {
		position: absolute;
		right: -10px;
		top: -10px;
    a {
      width:15px;
      height:15px;
      display:inline-block;
      background:#b4b4b4;
      cursor:pointer;
      margin-right:4px;
      text-indent:-500em;
    }
  }
  .blcontent {
		height: auto !important;
  }
  .jp-current {
	background: #c33 !important;
  } 
}
.hero-unit {
	padding: 20px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	h1 {
		margin-bottom: 0;
		font-size: 60px;
		line-height: 1;
		color: inherit;
		letter-spacing: -1px;
	}
	p {
		margin: 0;
	}
}

#block-views-editorspick-block {
	.views-row {
		text-align: center;
		.views-field-field-category {
			font-size: smaller;
			a {
				color: @gray-light !important;
			}
		}
		a img {
			width: 100%;
			height: auto;
		}
		.views-field {
			width: 75%;
			margin-left: auto;
			margin-right: auto;
			a {
				font-family: 'gotham-black-headers';
				font-style: normal;
				font-weight: bold;
				font-size: larger;
			}
		}
	}
}
.region-headlines {
	.blcontent {
		padding: 15px;
	}
}
.view-id-category_news {
	.rows-first {
		border-right: none;
		margin: 5px 10px 5px 15px;
	}
	.rows-others {
		padding-left: 10px;
		border-left: 1px solid #e6e6e6;
	}
}
.view-job-network {
	.rows-first {
		border-right: none;
		margin-right: 5px;
		.views-field {
			padding-left: 15px !important;
		}
		.views-field-timestamp {
			color: #b4b4b4;
			font-size: 0.917em;
			text-transform: uppercase;
		}
	}
	.rows-others {
		padding-left: 10px;
		border-left: 1px solid #e6e6e6;
	}
}
#editorPick {
	display: block;
	overflow: hidden;
	.owl-controls {
	  clear: both;
    position:relative;
    text-align: right;
    z-index:111; 
		.owl-nav {
		  display:inline-block;
		  cursor:pointer;
		  .owl-prev, .owl-next {
			  color: #ffffff !important;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
				background-color: @treddarker !important;
				background-image: -moz-linear-gradient(top,@treddarker,@tredmaroon) !important;
				background-image: -webkit-gradient(linear,0 0,0 100%,from(@treddarker),to(@tredmaroon)) !important;
				background-image: -webkit-linear-gradient(top,@treddarker,@tredmaroon) !important;
				background-image: -o-linear-gradient(top,@treddarker,@tredmaroon) !important;
				background-image: linear-gradient(to bottom,@treddarker,@tredmaroon) !important;
				background-repeat: repeat-x !important;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea0026',endColorstr='#ff5e1000',GradientType=0);
				border-color: @tredmaroon @tredmaroon #120300 !important;
				border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;
				filter: progid:DXImageTransform.Microsoft.gradient(enabled= false); 
				font-size: 11px;
				margin: 3px;
				padding: 2px 3px;
				background: #d6d6d6;
				display: inline-block;
				cursor: pointer;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
		  }
		}
		.owl-dots {
			display: none !important;
		}
	}
	h5 {
		text-align: center;
	}
}
#newsHot,
#newsRant,
#newsEdit,
#newsPaid {
	display: block;
	overflow: hidden;
	.owl-controls {
	  clear: both;
    position:relative;
    text-align: right;
    bottom: 10px;
    z-index:111; 
		.owl-nav {
		  display:inline-block;
		  cursor:pointer;
		  .owl-prev, .owl-next {
			  color: #ffffff !important;
			  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
			  background-color: @treddarker !important;
			  background-image: -moz-linear-gradient(top,@treddarker,@tredmaroon) !important;
			  background-image: -webkit-gradient(linear,0 0,0 100%,from(@treddarker),to(@tredmaroon)) !important;
			  background-image: -webkit-linear-gradient(top,@treddarker,@tredmaroon) !important;
			  background-image: -o-linear-gradient(top,@treddarker,@tredmaroon) !important;
			  background-image: linear-gradient(to bottom,@treddarker,@tredmaroon) !important;
			  background-repeat: repeat-x !important;
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea0026',endColorstr='#ff5e1000',GradientType=0);
			  border-color: @tredmaroon @tredmaroon #120300 !important;
			  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;
			  filter: progid:DXImageTransform.Microsoft.gradient(enabled= false); 
			  font-size: 11px;
			  margin: 3px;
			  padding: 2px 3px;
			  background: #d6d6d6;
			  display: inline-block;
			  cursor: pointer;
			  -webkit-border-radius: 3px;
			  -moz-border-radius: 3px;
			  border-radius: 3px;
		  }
		}
		.owl-dots {
			display: none !important;
		}
	}
	h5 {
		text-align: center;
	}
}

#homeSlide {
	display: block;
	overflow: hidden;
	.owl-nav {
		display: none;
	}
}
h3.ui-accordion-header > a:before {
  font-family: FontAwesome;
  content: "\f0da  "; 
}
h3.ui-accordion-header-active  > a:before {
  font-family: FontAwesome;
  content: "\f0d7  "; 
}