#block-views-lunch_specials-block {
	.view-content{
		ul {
			li {
				display: inline-block;
				.thumbnail {
					display: inherit;
					padding: 0;
					margin-bottom: 0;
					line-height: 0;
					background-color: #fff;
					border: 1px solid #ddd;
					border-radius: 4px;
					-webkit-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
				}
			}
		}
	}
}