.view-id-News {
	.views-row {
		float: left;
		border-bottom: 3px solid #e6e6e6;
		margin-bottom: 20px;
		.thumbnail {
			margin-bottom: 0 !important;
		}
	}
}
.news-insert {
	margin-bottom: 15px;
}
#block-quicktabs-accordion_block {
	.ui-accordion-content {
		padding: 15px !important;
	}
}