.block-livebreaking {
  background-color: #000000;
	margin-top: 35px;
	z-index: 600;
}
@media (max-width: 992px) {
	.block-livebreaking {
		margin-top: 0px;
	}
}
.block-livebreaking .livebreaking-item {
  display: none;
  padding: 10px 0px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  width: 100%;
}
.block-livebreaking .livebreaking-item.first {
  display: block;
}
.block-livebreaking .livebreaking-item .white {
  margin-right: 0.3em;
}
.block-livebreaking .livebreaking-item a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 0.8em;
  text-decoration: none;
}
.block-livebreaking .livebreaking-item .col-md-9 {
	margin-top: 10px;
}
.block-livebreaking .livebreaking-item.bell {
  background-color: #F1142C;
  font-size: x-large;
}
.block-livebreaking .livebreaking-item.fire {
  background-color: #BF5700;
  font-size: x-large;
}
.block-livebreaking .livebreaking-item .col-md-3 a {
  height:auto !important;
  width: 100% !important;
}
.block-livebreaking .livebreaking-item .col-md-3 a img {
  height:auto !important;
  width: 100% !important;
}
/** Responsive **/
@media all and (max-width: 960px) {
  .block-livebreaking .livebreaking-item {
		text-align: center;
    font-size: 1.2em !important;
    height: auto;
  }
}
@media (max-width: 767px) {
  .block-livebreaking .livebreaking-item {
    height: auto;
  }	
}

@media all and (min-width: 767px) {
  .block-livebreaking .livebreaking-item .span9, .block-livebreaking .livebreaking-item .span3 {
    margin-left: 10px !important;
  }
}

