#date-wrapper {
  border: 1px solid #000072;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin: 0 0 10px;
}
#date-wrapper #date {
  font-size: 2em;
  text-align: center;
  width: 75%;
  padding: 10px;
  background-color: #000072;
  color: #ffffff;
  margin: 0 auto 10px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #999;
  line-height: 1.2;
}
#block-waterblock-water table th:last-child {
  text-align: right;
}
#block-waterblock-water table tr td.left {
  max-width: 125px;
}
#block-waterblock-water table tr td.right {
  text-align: right;
}
#block-waterblock-water h2.block-title {
  text-align: center;
}
#block-waterblock-water p.wb-caption {
  text-align: center;
  font-size: 0.8em;
}