html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #000000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix {
  overflow: auto;
}
#lightbar {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #000000;
  margin-bottom: 0;
  color: #efefef;
  padding: 5px 0 10px 10px;
}
#lightbar a {
  color: #ffffff;
}
#logo {
  width: 200px;
  float: left;
  margin-right: 1em;
}
#logo img {
  height: 50px;
  width: auto;
}
#continue {
  float: right;
  text-align: right;
  line-height: 50px;
  padding: 0 50px 0 0;
  font-size: 20px;
  font-weight: bold;
}
#container {
  width: 1200px;
	margin: 0 auto;
	font-family: 'Helvetica', 'Arial', sans-serif;
	line-height: 1.8;
	font-size: 1.6em;
	font-size: 1.6rem;
	font-weight: 400;
}
#container h1 {
  font-size: 1.8em;
	font-size: 1.8rem;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	margin: 0 0 1em 0;
	line-height: 1.5;
	text-align: center;
}
#left-video {
  width: 70%;
	margin-right: 2%;
	float: left;
}
#right-words {
  width: 25%;
	float: left;
	color: #ffffff;
}
@media (max-width: 1001px) {
  #container {
	  width: 960px;
	}
}
@media (max-width: 960px) {
  #container {
	  width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 800px) {
  #container {
	  width: 90%;
		margin: 0 auto;
	}
	#right-words {
	  float: none;
		width: 100%;
	}
	#left-video {
	  float: none;
		width: 100%;
		margin-bottom: 1em;
	}
}
@media (max-width: 320px) {
  #continue {
    text-align: center;
    padding: 5px;
    float: none;
    clear: both;
  }
  #logo img {
    height: 30px;
    width: 60px;
    margin: 0 auto;
  }
}
.button {
  margin: 1em 0;
  border-radius: 5px;
  display: block;
	padding: 5px 10px;
	height: 50px;
	text-align: center;
	color: #efefef;
	text-shadow: 1px 1px 1px #dddddd;
	text-decoration: none;
  /* Permalink - use to edit and share this RED gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
/* Permalink - use to edit and share this SHannon Greenradient: http://colorzilla.com/gradient-editor/#00746b+0,00877e+100 */
/* Permalink - use to edit and share this JBF gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00746b+0,00877e+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad0303+1,d82f15+9 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00746b+0,00877e+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00877e+0,00746b+97 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff1814+0,d63d0f+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
background: #499bea; /* Old browsers */
background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}
.button:hover {
  color: #ffffff;
	text-shadow: #aaaaaa;
	/* Permalink - use to edit and share this RED gradient: http://colorzilla.com/gradient-editor/#ad0303+1,d82f15+99 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00877e+0,00746b+97 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad0303+1,d82f15+0 */
/* JBF Blue */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207ce5+1,499bea+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00877e+0,00746b+97 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad0303+1,d82f15+99 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00877e+0,00746b+97 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad0303+1,d82f15+99 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207ce5+1,499bea+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00746b+0,00877e+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad0303+1,d82f15+99 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207ce5+1,499bea+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad0303+1,d82f15+99 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d63d0f+0,ff1814+100,ff1814+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207ce5+1,499bea+100 */
background: #207ce5; /* Old browsers */
background: -moz-linear-gradient(top,  #207ce5 1%, #499bea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #207ce5 1%,#499bea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #207ce5 1%,#499bea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea',GradientType=0 ); /* IE6-9 */
}
.center {
  text-align: center;
}
.caption {
  font-size: 1em;
	font-size: 1rem;
}