#block-liveinterstitual-interstitualtag {
  background-color: #ffffff;
	box-shadow: 0 0 20px #000000;
	padding: 0 0 1em 0;
	display: none;
	z-index: 10000;
}
.wistia-block-header {
	padding: 3px;
	height: 2em;
	text-align: center;
	line-height: 1.8em;
	font-size: 1.6em;
	cursor: pointer;
}
