.node-type-event .field-name-body .lower,
.node-event-free .field-name-body .lower,
.node-event-paid .field-name-body .lower {
  padding: 5px;
}
.node-type-event .field-name-body .free-event,
.node-event-free .field-name-body .free-event,
.node-event-paid .field-name-body .free-event {
  background-color: #efefef;
  border-radius: 4px;
  margin-right: 5%;
  width: 40%;
  float: left;
  border: 1px solid #eeeeee;
}
.node-type-event .field-name-body .free-event .upper,
.node-event-free .field-name-body .free-event .upper,
.node-event-paid .field-name-body .free-event .upper {
  background-color: #ea232d;
  padding: 5px;
  color: #ffffff;
  text-align: center;
}
.node-type-event .field-name-body .free-event .upper h3,
.node-event-free .field-name-body .free-event .upper h3,
.node-event-paid .field-name-body .free-event .upper h3 {
  text-align: center;
}
.node-type-event .field-name-body .paid-event,
.node-event-free .field-name-body .paid-event,
.node-event-paid .field-name-body .paid-event {
  background-color: #efefef;
  border-radius: 4px;
  margin-left: 5%;
  width: 40%;
  float: left;
  border: 1px solid #eeeeee;
}
.node-type-event .field-name-body .paid-event .upper,
.node-event-free .field-name-body .paid-event .upper,
.node-event-paid .field-name-body .paid-event .upper {
  background-color: #ea232d;
  padding: 5px;
  color: #ffffff;
  text-align: center;
}
.node-type-event .field,
.node-event-free .field,
.node-event-paid .field {
  margin-bottom: 1em;
}
.node-type-event .field .field-label,
.node-event-free .field .field-label,
.node-event-paid .field .field-label {
  width: 20%;
  margin-right: 10px;
  text-align: right;
}
.node-type-event .field-name-field-artist,
.node-event-free .field-name-field-artist,
.node-event-paid .field-name-field-artist {
  padding-left: 20%;
  margin-left: 10px;
}
.node-type-event .field-name-field-artist .field-items,
.node-event-free .field-name-field-artist .field-items,
.node-event-paid .field-name-field-artist .field-items {
  width: 100%;
}
.node-type-event .field-name-field-artist .field-items .field-name-body,
.node-event-free .field-name-field-artist .field-items .field-name-body,
.node-event-paid .field-name-field-artist .field-items .field-name-body {
  margin: 0;
  padding: 0;
}
.node-type-event .field-name-field-artist .field-items .field-name-field-artist-website,
.node-event-free .field-name-field-artist .field-items .field-name-field-artist-website,
.node-event-paid .field-name-field-artist .field-items .field-name-field-artist-website {
  clear: both;
}
.node-type-event .field-name-body,
.node-event-free .field-name-body,
.node-event-paid .field-name-body {
  padding-left: 20%;
  margin-left: 10px;
}
.node-type-event .node-venue.node-teaser header,
.node-event-free .node-venue.node-teaser header,
.node-event-paid .node-venue.node-teaser header {
  margin: 0;
}
.node-type-event .node-venue.node-teaser header h2,
.node-event-free .node-venue.node-teaser header h2,
.node-event-paid .node-venue.node-teaser header h2 {
  font-size: 1em;
  margin: 0;
}
.node-type-event .field-name-field-venue,
.node-event-free .field-name-field-venue,
.node-event-paid .field-name-field-venue {
  width: 100% !important;
}
.node-type-event .field-name-field-venue .field-items,
.node-event-free .field-name-field-venue .field-items,
.node-event-paid .field-name-field-venue .field-items {
  width: 100% !important;
}
.node-type-event .field-name-field-venue .field-items .field-name-field-address,
.node-event-free .field-name-field-venue .field-items .field-name-field-address,
.node-event-paid .field-name-field-venue .field-items .field-name-field-address,
.node-type-event .field-name-field-venue .field-items .field-name-field-venue-website,
.node-event-free .field-name-field-venue .field-items .field-name-field-venue-website,
.node-event-paid .field-name-field-venue .field-items .field-name-field-venue-website,
.node-type-event .field-name-field-venue .field-items .field-name-field-hours-of-operation-,
.node-event-free .field-name-field-venue .field-items .field-name-field-hours-of-operation-,
.node-event-paid .field-name-field-venue .field-items .field-name-field-hours-of-operation- {
  padding-left: 20%;
  margin-left: 10px;
}
.node-type-event .field-name-field-venue .field-items header,
.node-event-free .field-name-field-venue .field-items header,
.node-event-paid .field-name-field-venue .field-items header {
  margin: 0;
}
.node-type-event .field-name-field-venue .field-items header h2,
.node-event-free .field-name-field-venue .field-items header h2,
.node-event-paid .field-name-field-venue .field-items header h2 {
  font-size: 1em;
  margin: 0;
  padding-left: 21%;
  margin-top: -1.2em;
}
