@media (min-width:550px) {
	.field-name-field-business-phone {
		margin-top: -50px;
		float: right;
	}
	#lunch-block {
		display:none;
	}
}
@media (max-width:550px) {
	.field-name-field-business-phone {
		padding-bottom: 5px;
		.field-item {
			float: none !important;
			a.btn {
				text-align: center;
				display: inherit;
			}
		}
	}
}