@media (min-width:550px) {
	.field-name-field-business-phone {
		margin-top: -50px;
		float: right;
	}
	#lunch-block {
		display:none;
	}
}
@media (max-width:550px) {
	.field-name-field-business-phone {
		padding-bottom: 5px;
		.field-item {
			float: none !important;
			a.btn {
				text-align: center;
				display: inherit;
			}
		}
	}
	#block-views-newsthumbs-block_1,
	#block-views-newsthumbs-block_2,
	#block-views-newsthumbs-block_3,
	#block-views-newsthumbs-block_4,
	#block-views-newsthumbs-block_5 {
		.view {
			.view-content {
				ul {
					li.col-md-2 {
						width: 45% !important;
						margin: 5px !important;
						float: left;
						.bottom-wrapper {
							font-size: 1em;
						}
					}
					.views-row-last {
						display: none;
					}
				}
			}
		}
	}
	.hero-unit {
		button {
			width: 100% !important;
		}
	}
	#block-views-administration_profiles-block {
		.views-row {
			.img-circle {
				width: 100% !important;
				height: auto !important;
				margin: 0 !important;
				img {
					width: 100% !important;
					height: auto !important
				}
			}
		}
	}
	#slider {
		.cycle-pager {
			bottom: -10px !important;
		}
	}
	.rrssb-buttons .text {
		display: none;
	}
}
@media (max-width: 1584px) and (min-width: @screen-md) {
  #block-views-news-thumbs-block {
    .view-content {
      ul {
        li {
	        width: 15%;
        }
      }
    }
  }
}
@media (max-width: 1584px) and (min-width: 1200px ) {
	#block-block-12 {
		iframe {
			height: 200px;
		}
	}
}

@media (min-width: 992px) {
	.front {
		.block-quicktabs {
			.ui-accordion-content-active {
				height: 220px;
			}
		}
	}
	#header {
		#sidebar {
			padding-right: 0;
		}
	}
}
@media (max-width: 1200px) and (min-width: 991px) {
  #header {
		.container.smashtop {
			padding: 0;
		}
		.container.page {
			#sidebar {
				.block-dfp {
					.blcontent {
						padding: 0;
					}
				}
			}
		}
		#main-content {
			.row {
				#sidebar {
					.block-dfp {
						.blcontent {
							padding: 0;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 500px) and (max-width: 992px) {
	.front {
		.block-quicktabs {
			.ui-accordion-content-active {
				height: 240px;
			}
		}
	}
}

@media (max-width: 500px) {
	.front {
		.block-quicktabs {
			.ui-accordion-content-active {
				height: 285px;
			}
		}
	}

	.row {
		#breadcrumb {
			display: none;
		}
		#content {
			margin: 0 15px 15px;
			.content-inner {

				h1.title {
					margin-top: 0;
				}
			}
			.region-content {
				#block-views-category_news-block_1,
				#block-views-category_news-block_2,
				#block-views-category_news-block_3,
				#block-views-category_news-block_4,
				#block-views-category_news-block {
					.view {
						.view-content {
							.rows-first {
								margin: 0;
								padding: 10px 15px 0;
							}
						}
					}
				}
			}
		}
		#sidebar {
			background-color: #ffffff;
			#block-quicktabs-news {
				.blcontent {
				}
			}
		}

	}
	#header {
		.smashtop {
			.header-ads.col-sm-12 {
				margin: 0;
				padding: 0;
			}
		}
	}
}
#block-livebreaking-breaking {
	display: none;
}
.breaking {
	#block-livebreaking-breaking {
		display: block;
	}
}