@media (max-width: @screen-md) {
	#sidebar {
		clear: both;
	}
	.subnav {
		display: none;
	}
	#block-block-1 {
		display: none;
	}
	.mean-push {
		border-bottom: 20px solid black;
	}
	#headlines {
  	width: 100%;
  }
	.rows-first,
	.rows-others {
		width: 100% !important;
		border-right: none !important;
	}
	.page-type-event, 
	.page-type-event-free, 
	.page-type-event-paid {
		 .field-name-field-artist {
			 padding-left: 0 !important;
			 margin-left: 0 !important;
		 }
		 .field .field-label {
			 width: 35% !important;
		 }
	}
}
@media (min-width: @screen-md) {
	#block-block-13 {
		display: none;
	}
}
