/* Styles for the Rowdy Pulpit Email */
.view-contrib h3 {
  display: block;
  width: 100%;
  background-color: #003461;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  padding: 0;
  line-height: 2em;
  margin: 0 0 1em 0;
}
.view-contrib .views-row h3 {
  display: inline;
  background-color: transparent;
  text-align: left;
  font-size: 1.6em;
  color: #000000;  
}
.view-contrib .views-row {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #003461;
}
.view-contrib .views-row.views-row-last {
  border-bottom: none;
}
.view-contrib .views-row .rowdythumb {
  width: 180px;
  margin: 0 1em 1em 0;
  float: left;
}
.view-contrib .rowdywide {
  width: 560px;
  margin: 0 auto;
}
.view-contrib a {
  text-decoration: none;
}